body{
    background-color:black
}
.card-container{
    position: relative;
    left: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.uptoTop{
    position: relative;
    right: -10px;
}
button{
    left:30px;
}